
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', serif;
  font-size: 1.125em;
}

header {
  text-align: center;
}
header > img {
  width: 100%;
  height: 500px;
}
nav {
  background-color: rgb(206, 85, 85);
  margin: auto;
  
}
nav a {
  color: rgba(206, 201, 231, 0.8);
  text-decoration: none;
  font-size: 1.5em;
  padding: 0 16px;
}
nav a:hover {
  background-color: aqua;
  color: rgb(200, 137, 36);
}
h1 {
  font-size: 3em;
  color: hsl(0, 2%, 32%);
  padding: 10px;
}
blockquote {
  font-size: 1.5em;
  color: hsla(315, 28%, 23%, 0.5);
  padding: 10px;

}
main {
  width: 60%;
  margin: auto;  
  text-align: justify;
}
main p {
  margin-bottom:2em;
}
ul {
  margin-left: 2em;
  margin-bottom: 2em;
}

/*Stories Page*/
/* Using display for layout*/
.stories {
  width: 940px;
  text-align:center;
  margin: 0 auto;
}
.stories .col {
  display: inline-block;
  margin: 1em 0.2em;
}
.stories > article {
  max-width: 300px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
}

.col > img {
  width: 100%;
  opacity: 0.7;
}
.col p, .col h3 {
  color: #803376;
  padding: 2px;
  margin: 10px;
}

/*Footer*/
footer {
  text-align: center;
  margin: 15px 0;
  font-size: 0.75em;
}


legend {
  font-weight: bold;
}
img {
  height: 100%;
}
fieldset {
  border:0;
}
#fname{
  width: 100%;
  height: 2em;
}
#lname{
  width: 100%;
  height: 2em;
}

select {
  width: 100%;
  height:2em; 
}
form {
  text-align:left;
  width: 100%;
}
#comment {
  width: 100%;
}
.submit_button {
  padding: 0.5em;
  background-color: rgb(114, 178, 17);
  color: white;
  border-radius: 10%;
  margin-left: 45%;
}